NEXT_PUBLIC_SUPABASE_URL=https://pqqrbjuefporiqgglatw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxcXJianVlZnBvcmlxZ2dsYXR3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0MDM3NjgsImV4cCI6MjA4MDk3OTc2OH0.vchDq2ie5Tz4aq0F9x0cKDzFQh65sUT0Ro9kD0me8Zg